<!DOCTYPE html>
<html lang="en">
<head>
    <title>Current status</title>
    <meta charset="UTF-8">
    <style>
        table, td, tr, th {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
        }

        .test-n, .test-m, .test-answer {
            text-align: center;
        }

        .externally-solved-test {
            background-color: #FFFF99
        }

        .solved-test {
            background-color: #90EE90;
        }

        #tests-table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<table id="tests-table">
<tr>
    <th>Test</th>
    <th>Vetices</th>
    <th>Edges</th>
    <th>Answer</th>
    <th>Solved by</th>
</tr>
{% for test in tests %}
{% if test.status == "TestStatus.SOLVED" %}
    <tr class="solved-test">
{% elif test.status == "TestStatus.EXTERNALLY_SOLVED" %}
    <tr class="externally-solved-test">
{% else %}
    <tr>
{% endif %}
        <td class="test-name">{{ test.name }}</td>
        <td class="test-n">{{ test.n }}</td>
        <td class="test-m">{{ test.m }}</td>
        <td class="test-answer">{{ test.answer }}</td>
        <td class="test-solved-by">{{ test.solved_by }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
